In [4]:
x = 3
print(id(x))
x += 3
print(id(x))

1503224032
1503224128

In [6]:
x = 3==3,5
x

(True, 5)

In [9]:
print(3 in [1, 2, 3 ,4])
print([3] in [1, 2, 3, 4])

True
False

In [16]:
[5 for i in range(10)]

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [19]:
" ".join(list('hello world!'))

'h e l l o   w o r l d !'

In [35]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
a = [1,2,3]
b = [1,4,6]
id(a[0]) == id(b[0])

True

In [41]:
print('ab' in 'acbde')
#print(ab in 'abcd')

False

In [61]:
x = [1,2,3,4,5]
x[0:0] = [3] #在前面插入数字
x[0] = 2 #修改第一位数字
x[len(x):] = [3] #在后面插入
x.append(7) #同上
x

5

[2, 1, 2, 3, 4, 5, 3, 7]

In [10]:
n = 2
print(n & 1)
print(n % 2)
print(n|2)

0
0
2

In [12]:
x = (3,)
x

(3,)

In [19]:
print(sorted([1,2,3],reverse = True))
print(reversed([1,2,3]))
sorted([1,2,3],reverse = True) == reversed([1,2,3])

[3, 2, 1]
<list_reverseiterator object at 0x0000000005A04C88>

False

In [25]:
x = [3,5,3,7]
[x.index(i) for i in x if i == 3]

[0, 0]

In [28]:
x = [1,2]
list(enumerate(x))

[(0, 1), (1, 2)]

In [12]:
x = [4,2,3,6,4,3,4]
[x.index(i) for i in x if i == 3]

[2, 2]

In [22]:
v = [[1,2],[3,4]]
[row[i] for row in v for i in range(len(v[0]))]

[1, 2, 3, 4]

In [28]:
print('%c'%33)
print('%s'%33)

!
33

In [30]:
'Hello World!'.swapcase().swapcase()

'Hello World!'

In [32]:
'a'.join('abc'.partition('b'))

'aabac'

In [34]:
table = ''.maketrans('abcw','xyzc')
'Helloa world'.translate(table)

'Hellox corld'

In [37]:
[1,2,3,3,3].count(4)

0

In [40]:
'acv34'.isalnum()

True

In [43]:
'a '.join("sunny something some".partition("me"))

'sunny soa mea thing some'

In [47]:
x = [[1,3,3],[2,3,1]]
sorted(x, key = lambda item : (item[0],item[1]))

[[1, 3, 3], [2, 3, 1]]

In [50]:
x = list(range(5))
x.remove(3)
x.index(4)

3

In [57]:
x = [1,3,2]
print(x.reverse())
print(x.sort())
list(reversed(x))

None
None

[3, 2, 1]

In [67]:
x = [[]] * 3
x
x[0]
x[0].append(1)
x
x.append(1)
x

[[1], [1], [1], 1]

In [92]:
d = {'one':1,'two':2}
d.update({'four':4,'three':3,'five':5,'six':6,'seven':7})
d

{'five': 5, 'four': 4, 'one': 1, 'seven': 7, 'six': 6, 'three': 3, 'two': 2}

In [83]:
d = {'one':1,'two':2}
d.update({'three':3,'four':4})
d

{'four': 4, 'one': 1, 'three': 3, 'two': 2}

In [85]:
d = {'one':1,'two':2}
d.update(five=5,six=6) 
d

{'five': 5, 'one': 1, 'six': 6, 'two': 2}

In [88]:
d = {'one':1,'two':2}
d.update([('seven',7),('eight',8)])
d

{'eight': 8, 'one': 1, 'seven': 7, 'two': 2}

In [102]:
x = [1,2,3]
print(set(x*100)-set(x))
not(set(x*100)-set(x))

set()

True

In [106]:
import string
string.digits

'0123456789'

In [4]:
sorted([2,3,1])

[1, 2, 3]

In [3]:
sorted([1,2,3],reverse = True)

[3, 2, 1]

In [5]:
reversed([1,2,3])

In [6]:
2^3

1

In [14]:
round(678.88,-1)

680.0

# 运算符
# forward  

backword